# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Build output
node_modules
dist
dist-ssr
.temp
.cache

# Environment variables
.env
!.env.example  # If you want to include an example environment file for your project

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Test coverage
coverage/

# Operating system files
Thumbs.db
.Spotlight-V100
